.texto-destacado{ color: rgb(28, 133, 160);
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Montserrat';
}
.font-inf {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Merriweather';
    color: black;
}