.fot {
    font-family: 'Montserrat';
    background-color: rgba(226, 188, 128, 0.774);

    i {
        font-size: 3rem;
        margin-top: 50px;
        text-decoration-color: black;
        
    }

    h4 {
        color: black;
    }

    p {
        color: black;
        font-size: 1.2rem;
    }

    ul {
        list-style: none;
        padding: 0px;

        li {
            padding: 10px;
            color: black;
            font-size: 1.2rem;
        }
    }
}