.boton {
    background-color: red;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Montserrat';
    transition-duration: 0.5s;
    &:hover { color: red;
    background-color: white;}
}