.card_productos{
    background-color: rgba(37, 115, 134, 0.473);
    border: 3px black transparent;
    border-radius: 20px;
    margin: 20px 1px;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-items: center;
    img{ width:250px;
    height: 200px;
border-radius: 10px;}}